openapi: 3.1.0
info:
  title: BNY Pershing API
  description: >-
    BNY Pershing APIs expose the Pershing clearing and custody platform — NetX360+ for advisors and the Wove wealth
    platform — to broker-dealers, RIAs, and wealth technology partners. Surface includes account opening, brokerage
    operations, positions and balances, statements, and Wove integrations. Full reference is published behind Nexen
    single sign-on.
  version: '1.0'
  contact:
    name: BNY Developer Support
    url: https://developer.bny.com/
externalDocs:
  description: BNY Developer Marketplace
  url: https://developer.bny.com/
servers:
  - url: https://apigateway.bny.com
    description: Production
  - url: https://apigateway.qa.bny.com
    description: Sandbox
tags:
  - name: Pershing
    description: Pershing clearing, custody, NetX360+, and Wove platform surface.
security:
  - bearerAuth: []
paths:
  /v1/status:
    get:
      operationId: getPershingStatus
      summary: Get Pershing Status
      description: >-
        Returns the current status of the BNY Pershing API surface.
      tags:
        - Pershing
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                  version:
                    type: string
        '401':
          description: Unauthorized
        '429':
          description: Too many requests
components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
