openapi: 3.1.0
info:
  title: BNY Markets API
  description: >-
    BNY Markets APIs expose FX, securities finance (agency lending, collateral, repo), and fixed income / equities
    execution to institutional clients through the BNY Developer Marketplace at developer.bny.com. Operations are
    illustrative; full reference is published behind Nexen single sign-on.
  version: '1.0'
  contact:
    name: BNY Developer Support
    url: https://developer.bny.com/
externalDocs:
  description: BNY Developer Marketplace
  url: https://developer.bny.com/
servers:
  - url: https://apigateway.bny.com
    description: Production
  - url: https://apigateway.qa.bny.com
    description: Sandbox
tags:
  - name: Markets
    description: FX, securities finance, fixed income, and equities surface.
security:
  - bearerAuth: []
paths:
  /v1/status:
    get:
      operationId: getMarketsStatus
      summary: Get Markets Status
      description: >-
        Returns the current status of the BNY Markets API surface.
      tags:
        - Markets
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                  version:
                    type: string
        '401':
          description: Unauthorized
        '429':
          description: Too many requests
components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
