openapi: 3.1.0
info:
  title: BNY Asset Servicing Treasury Services API
  description: BNY Asset Servicing APIs expose custody, fund accounting, middle-office, transfer agency, ETF servicing, and data & analytics surface to institutional clients through the BNY Developer Marketplace at developer.bny.com. Operations are illustrative; full reference is published behind Nexen single sign-on.
  version: '1.0'
  contact:
    name: BNY Developer Support
    url: https://developer.bny.com/
servers:
- url: https://apigateway.bny.com
  description: Production
- url: https://apigateway.qa.bny.com
  description: Sandbox
security:
- bearerAuth: []
tags:
- name: Treasury Services
  description: Payments, liquidity, cash management, trade finance, and FX.
paths:
  /v1/status:
    get:
      operationId: getTreasuryServicesStatus
      summary: Get Treasury Services Status
      description: Returns the current status of the BNY Treasury Services API surface.
      tags:
      - Treasury Services
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                  version:
                    type: string
        '401':
          description: Unauthorized
        '429':
          description: Too many requests
components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
externalDocs:
  description: BNY Developer Marketplace
  url: https://developer.bny.com/
